[submodule "lib/SimpleBLE"]
	path = lib/SimpleBLE
	url = https://github.com/OpenBluetoothToolbox/SimpleBLE
[submodule "lib/tomlplusplus"]
	path = lib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus/
[submodule "lib/linenoise-mob"]
	path = lib/linenoise-mob
	url = https://github.com/rain-1/linenoise-mob
